<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding name="NetTcpBinding_IAccountService" />
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:42102/AccountService"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IAccountService"
                contract="ServiceReference1.IAccountService" name="NetTcpBinding_IAccountService">
                <identity>
                    <userPrincipalName value="EXECUTIONER\FortyTwo" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>